.Home {
    background: rgb(230, 228, 224); 
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
}

ul {

    background: rgb(253, 253, 253);
}
 

p {
   color: darkgray;
   text-align: left;
   font-size: 15px;
   margin-left: 10px;
}

input {
    border: none;
    width: 100%;
}

.btn{
    margin-left: 90%;
}

.container{
    width: 50%;
   }